@page "/counter"
@using System.Security.Claims
@using System.Text
@using System.Text.Json
@using System.Web
@using System.Net.Http
@inject HttpClient Http

<h1>Counter</h1>
<a href="/.auth/login/aad">AAD Login</a>
<a href="/.auth/login/facebook">facebook Login</a>
<a href="/.auth/login/github">github Login</a>
<a href="/.auth/login/google">google Login</a>
<a href="/.auth/login/twitter">twitter Login</a>
<p>Current count: @currentCount</p>
<p>@AppsAuth.principal.UserDetails</p>
<p>@AppsAuth.exc</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@code {
    private int currentCount = 0;
    public StaticWebAppsAuth AppsAuth;
    public string exception = string.Empty;
    protected override void OnInitialized()
    {
        AppsAuth = new StaticWebAppsAuth();
        var res = AppsAuth.Get();
        res.Wait();
    }

    private void IncrementCount()
    {
        currentCount++;
    }
    public  class StaticWebAppsAuth
    {
        public class ClientPrincipal
        {
            public string IdentityProvider { get; set; }
            public string UserId { get; set; }
            public string UserDetails { get; set; }
            public IEnumerable<string> UserRoles { get; set; }
        }
        public ClientPrincipal principal = new ClientPrincipal();
        public string exc = string.Empty;

        public async Task<ClientPrincipal>  Get()
        {
            ClientPrincipal res = null;
            try
            {
                var request = new HttpRequestMessage(HttpMethod.Get, @"/.auth/me");

                using (var client = new HttpClient())
                {
                    res = await client.GetFromJsonAsync<ClientPrincipal>(@"/.auth/me");
                }
                principal = res;
            }
            catch (Exception ex)
            {
                exc = $"{ex.Message} {ex.StackTrace}";
            }
            return res;
         }

    }
}
