@page "/counter"
@using System.Security.Claims
@using System.Text
@using System.Text.Json
@using System.Web
@using System.Net.Http
@inject HttpClient Http

<h1>Counter</h1>
<a href="/.auth/login/aad">AAD Login</a>
<a href="/.auth/login/facebook">facebook Login</a>
<a href="/.auth/login/github">github Login</a>
<a href="/.auth/login/google">google Login</a>
<a href="/.auth/login/twitter">twitter Login</a>
<p>Current count: @currentCount</p>
<p>@AppsAuth.text</p>
<p>@AppsAuth.exc</p>
<p>@exception</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@code {
    private int currentCount = 0;
    public StaticWebAppsAuth AppsAuth;
    public string exception = string.Empty;
    protected override void OnInitialized()
    {
        try
        {
            AppsAuth = new StaticWebAppsAuth();
            var res = AppsAuth.Get();
            //res.Wait();
        } catch (Exception ex)
        {
            exception = $"{ex.Message} {ex.StackTrace}";
        }
    }

    private void IncrementCount()
    {
        currentCount++;
    }
    public  class StaticWebAppsAuth
    {
        public class ClientPrincipal
        {
            public string IdentityProvider { get; set; }
            public string UserId { get; set; }
            public string UserDetails { get; set; }
            public IEnumerable<string> UserRoles { get; set; }
        }
        public ClientPrincipal principal = new ClientPrincipal();
        public string text = string.Empty;
        public string exc = string.Empty;

        public async Task<string>  Get()
        {
            string res = null;
            try
            {
                var request = new HttpRequestMessage(HttpMethod.Get, @"/.auth/me");

                using (var client = new HttpClient())
                {
                    res = await client.GetStringAsync(@"https://ashy-bay-0db838900.azurestaticapps.net/.auth/me");
                }
                //principal = res;
                text = res;
            }
            catch (Exception ex)
            {
                exc = $"{ex.Message} {ex.StackTrace}";
            }
            return res;
         }

    }
}
